/* redactor editor. */
.redactor-box {
  position: relative;
  top: 6em;
  left: 1px;
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
  box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
}

.redactor-toolbar li a.redactor-button-image.re-class-button {
    width: inherit;
}

.editor-label {
  display: block;
  padding: 0.6em 1em;
  line-height: 1.6em;
  background-color: #f96;
  font-size: 0.9em;
  border-bottom: 1px solid #e85;
}