#content {
  position:absolute; 
  top: 1em;
  height: auto;
  left: 1em;
}
#schema {
  width: calc(50vw + 3em);
  margin: 9em 1em 6em 2em;
  overflow-x: scroll;
}
#editor_column {
  position:absolute;
  left: calc(50vw + 3em);
  top: 4em;
  height: 100%;
  min-height: 100vh;
  width: calc(50vw - 3em);
  padding: 0;
  margin: 0;
  background-color: hsl(0, 0%, 88%);
  -webkit-box-shadow: inset 10px 0px 25px -10px rgba(0,0,0,0.16);
  -moz-box-shadow: inset 10px 0px 25px -10px rgba(0,0,0,0.16);
  box-shadow: inset 10px 0px 25px -10px rgba(0,0,0,0.16);
}
#schema * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#schema h3:before {
  content: "Game " &quot;
}
#schema h3:after {
  content: &quot;
}
#schema ul {
  list-style-type: none;
  padding: 1em;
  margin: 1em;
  border: dotted #ddd;
  border-width: 0 0 0 0.25em;
  -webkit-border-radius: 2em 0 0 2em;
  -moz-border-radius: 2em 0 0 2em;
  border-radius: 2em 0 0 2em;
}
#schema li {
  margin: 0 1em;
  padding: 0.5em;
  border: 0.175em solid transparent;
  -webkit-border-radius: 1.25em;
  -moz-border-radius: 1.25em;
  border-radius: 1.25em;
  white-space: normal;
}
/*#schema li:hover {
  border-color: #eee;
}*/

/* fixes because .container collides with Bootstrap css. */
#schema li.container {
  width: inherit;
}
#schema li.container:before {
  display: inline;
}

#schema ul:before, 
#schema li[class]:not(.element):before {
  content: attr(class) ": ";
  display: inline;
}
#schema li:not([class]):before {
  content: "NEW";
  font-size: 0.8em;
  color: #ccc;
}
#schema li[class][type=object]:before, 
#schema li[class][type=array]:before {
  display: block;
}

#schema ul[type=object]:before, 
#schema ul[type=array]:before, 
#schema ul[type=function]:before {
  content: "\25BE" " (" attr(type) ") ";
  font-style: italic;
}

#schema ul[type=object].closed:before, 
#schema ul[type=array].closed:before, 
#schema ul[type=function].closed:before {
  content: "\25B8" " (" attr(type) ") ";
}
#schema ul[type=object][name]:before, 
#schema ul[type=array][name]:before, 
#schema ul[type=function][name]:before {
  content: "\25BE" " (" attr(type) ")  [ " attr(name) " ] ";
  font-style: italic;
}

#schema ul[type=object][name].closed:before, 
#schema ul[type=array][name].closed:before, 
#schema ul[type=function][name].closed:before {
  content: "\25B8" " (" attr(type) ")  [ " attr(name) " ] ";
}


#schema ul[type=array].closed *:not(span),
#schema ul[type=object].closed *:not(span),
#schema ul[type=function].closed *:not(span) {
  display: none;
}

#schema ul[type=array].closed span,
#schema ul[type=object].closed span,
#schema ul[type=function].closed span {
  color: #666;
  font-weight: normal;
}

#schema ul[type=object]:after, 
#schema ul[type=array]:after {
  content: " ";
  text-align: center;
  display: block;
  color: blue;
  width: 3em;
  margin: 0.75em;
  color: #666;
  border: 0.175em solid #ddd;
  -webkit-border-radius: 0.5em;
  -moz-border-radius: 0.5em;
  border-radius: 0.5em
}
#schema ul {
  display: inline-block;
  max-width: 50vw;
  font-weight: bold;
  white-space: nowrap;
  color: #666;
}

#schema ul:before {
  font-weight: normal;
  font-style: italic;
}

#schema ul li {
  font-weight: normal;
  color: black;
}

#schema ul[type=object] {
  border-color: #dd6;
}
#schema ul[type=array] {
  border-color: #6dd;
}
#schema ul[type=function] {
  border-color: #d6d;
}


#schema ul[type=array]:before {
  color: #add;
}
#schema ul[type=object]:before {
  color: #dda;
}
#schema ul[type=function]:before {
  color: #dad;
}

#schema ul[type=object]:after {
  content: "\25BE";
  border-color: #dd6;
}
#schema ul[type=array]:after {
  content: "+";
  border-color: #6dd;
}


#schema ul:not([type=object])[state=active],
#schema ul:not([type=array])[state=active] {
  background-color: #efefef;
}
#schema li[state=active] {
  background-color: #efefef;
  border-color: #ddd;
}

#schema div.pointer {
  font-weight: bold;
}

#schema div.pointer:before {
  content: " " "\2192" " ";
}


/* bootstrap fixes */
.h1, .h2, .h3, .h4 {
  font-size: inherit;
  font-weight: inherit;
}


/* redactor editor. */
.redactor-box {
  position: absolute;
  top: 3em;
  left: 1px;
  -webkit-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
  -moz-box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
  box-shadow: 0px 10px 25px -10px rgba(0,0,0,0.16);
  display: none;
}