#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
#footer ul {
  background: #92989B;
  list-style: none;
  margin: 0;
  height: 52px;
  font-size: 0.85em;
}
#footer ul li {
  float: left;
  padding: 0.5em 1em;
  color: white;
}
#footer ul li img {
  height: 40px;
}
.dialog h1 {
  background-color: #15CCC2;
  color: white;
  padding: 0.25em 0.5em 0 0.5em;
  margin-bottom: 0;
}
#logo-gu {
  padding-top: 0.75em;
}

form#login-form {
    position: relative;
    top: 12em;
    width: 24em;
    margin: 0 auto;
    display: block;
}

div#login-box {
    text-align: center;
    min-width: 100%;
    display: block;
}

a.edit_link {
    font-size: 0.6em;
    letter-spacing: 0.1em;
    color: white;
    background-color: #ccc;
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
    margin: 0 0.5em;
    display: inline-block;
}