.navbar-brand {
  padding: 0;
}

.navbar-brand #logo {
  height: 50px;
}
.navbar-nav {
  margin-left: -3.8em;
}
.navbar-nav li a{
  padding: 0.9em 1.8em;
}
polygon.lev_bg {
  fill: #15CCC2;
}
polygon.l_bg {
  fill: #92989B;
}
ul#game_list {
  font-size: 1.5em;
}

ul#game_list li {
  margin: 0.25em 0;
}

a {
  color: #07f;
}
a:hover, a.selected,
a.btn:hover, a.btn.selected
{
  color: #fc0;
  text-decoration: none;
}


/*ul#game_list a:hover {
  text-decoration: none;
  color: #ddd;
}*/

ul#game_list a.edit_link {
    font-size: 0.6em;
    letter-spacing: 0.1em;
    color: #333;
    background-color: #ccc;
    padding: 0.125em 0.5em;
    border-radius: 0.25em;
    margin: 0 0.5em;
    display: inline-block;
}

ul#game_list a.edit_link:hover {
    background-color: #ddd;
}

#explanation {
  color: #ddd;
  margin-top: 6.2em;
}


#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin-right: 0;
  margin-left: 0;
}
#footer ul {
  background: #92989B;
  list-style: none;
  margin: 0;
  height: 60px;
  font-size: 0.85em;
}
#footer ul li {
  float: left;
  padding: 0.5em 1em;
  color: white;
}
#footer ul li img {
  height: 40px;
}
.dialog h1 {
  border-bottom: 3px solid #92989B;
  color: #ddd;
  padding: 0.25em 0.5em 0 0.5em;
  margin-bottom: 0.5em;
}
#logo-gu {
  padding-top: 0.75em;
}

form#login-form {
    position: relative;
    top: 12em;
    width: 24em;
    margin: 0 auto;
    display: block;
}

div#login-box {
    text-align: center;
    min-width: 100%;
    display: block;
}

/* utility stuff */
.unselectable{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}
.selectable-text{
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: -moz-text;
  -ms-user-select: text;
  user-select: text;
}
.selectable{
  -webkit-touch-callout: all;
  -webkit-user-select: all;
  -khtml-user-select: all;
  -moz-user-select: -moz-all;
  -ms-user-select: all;
  user-select: all;
}