.public.container {
  padding: 96px 0;
  font-size: 1.5em;
}
.tagline {
  font-size: 1.75em;
  color: #15CCC2;
}
.public.container ul {
  list-style: none;
}
.public.container ul.outline > li {
  margin: 1.5em 0;
}
.public.container li {
  margin: 0.25em 0;
}

ul.options {
  font-style: italic;
  padding-bottom: 24px;
}

ul.options span {
  font-weight: normal;
  color: #92989B;
}

ul.outline h3 {
  color: #92989B;
  font-size: 20px;
  margin-bottom: 2px;
}

.ctr {
  text-align: center;
}
.float-ctr {
  margin-left: auto;
  margin-right: auto;
}

img.callout {
  width: 100%;
}