.public.container {
  padding: 96px 0;
  font-size: 1.5em;
}
.tagline {
  font-size: 1.75em;
  color: #15CCC2;
}
.public.container ul {
  list-style: none;
}
.public.container ul.outline > li {
  margin: 1.5em 0;
}
#game_list {
	font-size: 1.5em;
	max-height: 600px;
	min-height: 200px;
	overflow-x: hidden;
	overflow-y: scroll;
	list-style-type: none;
	border: 1px solid #ccc;
  border-top-width: 0;
	padding-left: 0;
}

#game_list a {
	color: #92989B;
	/* display: block; */
  font-size: 18px;
	text-decoration: none;
	line-height: 1.5em;
	padding: 0.25em 0.5em;
	margin: 0;
}

#game_list a.edit_link {
  font-size: 11px;
	color: #c5cbce;
  float: right;
  margin-right: 12px;
  margin-top: 4px;
}

#game_list li:hover {
  background-color: #c5cbce;
}

#game_list li:hover a{
  color: white;
}

ul.options {
  font-style: italic;
  padding-bottom: 24px;
}

ul.options span {
  font-weight: normal;
  color: #92989B;
}

ul.outline h3 {
  color: #92989B;
  font-size: 20px;
  margin-bottom: 2px;
}

.ctr {
  text-align: center;
}
.float-ctr {
  margin-left: auto;
  margin-right: auto;
}

img.callout {
  width: 100%;
}