/*****
color vars
*********************************************/
/*****
width/height vars
*********************************************/
/*****
basics
*********************************************/
.test {
  outline: 1px solid black;
  height: 100px; }

html {
  height: 100%; }

body {
  min-height: 100%;
  background-image: url("../img/bo_play_pattern.png"); }
  
.blurb {
  position: relative;
  top: 6em;
  color: #ddd;
  font-size: 1.2em;
}

.public.container {
  position: relative;
  top: 6em;
}

.video_container {
  width: 100vw;
  text-align: center;
}

.video_container video {
  margin: 10em auto 0;
}
/*****
Header
*********************************************/
.headerWrapper {
  position: fixed;
  width: 100%;
  height: 38vw;
  margin-bottom: 30px;
  background-color: #373737;
  transition: height .4s; }
  @media (min-width: 992px) {
    .headerWrapper {
      height: 375px; } }
  .headerWrapper.smaller {
    height: 65px;
    min-height: 65px;
    margin-bottom: 30px; }

.spacer {
  position: relative;
  width: 100%;
  height: 38vw;
  margin-bottom: 30px;
  transition: height .4s; }
  @media (min-width: 992px) {
    .spacer {
      height: 375px; } }
  .spacer.smaller {
    height: 65px;
    min-height: 65px;
    margin-bottom: 30px; }

.logo {
  position: absolute;
  width: 57vw;
  height: 25vw;
  left: calc((43vw - 20px) / 2);
  display: block;
  background: url("../img/levl_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: all .25s; }
  @media (min-width: 992px) {
    .logo {
      width: 571px;
      height: 250px;
      left: calc((100vw - 571px - 20px) / 2); } }
  .logo.smaller {
    width: 150px;
    height: 65px;
    margin-left: 0;
    left: 0;
    transition: height 0.35s cubic-bezier(0.46, 0.03, 0.52, 0.96), width 0.35s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.2s cubic-bezier(0.46, 0.03, 0.52, 0.96); }

.navContainer {
  position: relative;
  transition: all; }
  @media (max-width: 767px) {
    .navContainer {
      width: 100%;
      padding: 0 10px 0 10px;
      left: 0;
      top: calc(25vw + 10%);
      font-size: 1.35em;
      transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .navContainer {
      width: 80%;
      left: 10%;
      top: calc(25vw + 15%);
      font-size: 1.65em;
      transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }
  @media (min-width: 992px) {
    .navContainer {
      width: 571px;
      left: calc((100vw - 571px - 20px) / 2);
      top: 300px;
      font-size: 2em;
      transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }
  @media (max-width: 767px) {
    .navContainer.smaller {
      width: 60%;
      top: 25px;
      left: 40%;
      font-size: 1.25em;
      transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }
  @media (min-width: 768px) and (max-width: 991px) {
    .navContainer.smaller {
      width: 50%;
      top: 15px;
      left: 45%;
      font-size: 1.6em;
      transition: width 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }
  @media (min-width: 992px) {
    .navContainer.smaller {
      top: 20px;
      left: 50%;
      font-size: 1.8em;
      transition: top 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), left 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96), font-size 0.3s cubic-bezier(0.46, 0.03, 0.52, 0.96); } }

.pagesUL {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between; }
  .pagesUL li {
    display: inline-block;
    line-height: 100%; }
  .pagesUL li a {
    color: #ffffff; }

/*****
Main content, aka .main-wrap
*********************************************/
.main-wrap {
  font-size: 1.7em;
  color: #fff;
  line-height: 1.4em; }
