{% load staticfiles %}

<!DOCTYPE html> 
<html>
  <head>
    <title>CNDLS-ITEL Generic Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
    <link href="{{ STATIC_URL }}css/game.css" media="screen, print" rel="stylesheet" type="text/css" /> 
   	<link href='https://fonts.googleapis.com/css?family=Rationale' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
  </head> 
  <body class="{{ view_name }}">
    {% block content %}{% endblock %}
  </body>
</html>
