{% load staticfiles %}

<!DOCTYPE html> 
<html>
  <head>
    <title>CNDLS-ITEL Generic Game</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/> 
   	<link href='{{ STATIC_URL }}fonts/OSP-DIN.ttf' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" href="{{ STATIC_URL }}favicon.ico" />
    <link href="{{ STATIC_URL }}css/game.css" media="screen, print" rel="stylesheet" type="text/css" />
    

    <!-- Bootstrap Core CSS -->
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/half-slider.css" %}" rel="stylesheet">
    
		{% block css %}{% endblock %}
  </head> 
  <body class="{{ body_class }}">
  {% block content %}{% endblock %}
	

	<script type="text/javascript">
	  var media_url ="{{ MEDIA_URL }}";
	  var ajax_prefix = "{{ AJAX_PREFIX }}";
	</script>

	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.10.2.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.enumerable.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/jquery.easing.1.3.js" ></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/inflection.js" ></script>
	{% block js %}{% endblock %}
  </body>
</html>
