{% extends "game_base.html" %}
{% load staticfiles %}

{% block css %}
    <link href="{{ STATIC_URL }}css/editor.css" media="screen, print" rel="stylesheet" type="text/css" />
    <link href="{{ STATIC_URL }}css/redactor.css" media="screen, print" rel="stylesheet" type="text/css" />
{% endblock %}

{% block content %}
<div id="content">
    <section id="schema">
        
    </section>
    <section id="editor_column">
        <div id="redactor">editor</div>
    </section>
</div>
{% endblock %}

{% block js %}
    {{ block.super }}
    <script src="{{ STATIC_URL }}js/redactor.js"></script>
    <script src="{{ STATIC_URL }}js/editor.js"></script>
{% endblock %}