{% extends "base.html" %}

{% block css %}
<link href='http://fonts.googleapis.com/css?family=Lato&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
{% endblock %}


{% block js %}
<script type="text/javascript" src="{{ STATIC_URL }}js/state-machine.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/js-yaml.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/game.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/round.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/card.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealer.js" ></script>
<!-- various dealer and card types. -->
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/intro-dealers.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/prompters.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/prompter-cards.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/listeners-and-answers.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/listener-cards.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/responders.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/dealers/responder-cards.js" ></script>
<!-- widgets and utilities. -->
<script type="text/javascript" src="{{ STATIC_URL }}js/internal_clock.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/widget.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/scene.js" ></script>
<script type="text/javascript" src="{{ STATIC_URL }}js/game_utils.js" ></script>
<script type="text/javascript" id="reader" src="{{ STATIC_URL }}js/yaml-reader.js"  read-from="{{ AJAX_PREFIX }}/read/{{ game.id }}/"></script>
<script type="text/javascript" id="reporter" src="{{ STATIC_URL }}js/reporter.js"  report-to="{{ AJAX_PREFIX }}/write/{{ game.id }}/" csrftoken="{{ csrf_token }}"></script>

<script type="text/javascript">
    var STATIC_URL = "{{ STATIC_URL }}";
    var MEDIA_URL = "{{ MEDIA_URL }}uploads/{{ group_slug }}/";
	var game;
</script>
{% endblock %}