{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="banner">
  <img src="{% static "img/saxajs.png" %}">
</div>
<p class="blurb">
  SaxaJS is a simple game library and a hosting solution for Georgetown University faculty interested in developing educational games for the Web. It allows a variety of games to be created from relatively simple configuration files. The idea is to give faculty a way of exploring the use of games in their teaching, without encumbering them with the rules and constraints of existing games. Also, SaxaJS tracks user data and generates reports that can be useful for grading, as well as for refining gameplay.
</p>
<p class="gallery">
  <a href="{% url 'list' %}">The Games</a>
</p>

<div id="footer">
  <ul class="clearfix">
    <li><a href="mailto:cndls@georgetown.edu?Subject=SaxaJS" target="_top"><img id="logo-cndls" src="{% static "img/cndls-logo.png" %}"></a></li>
    <li><img id="logo-gu" src="{% static "img/gu-logo.png" %}"></li>
    <li>
        3520 Prospect St. NW #314<br />
        Washington, DC 20057<br />
        202.687.0625<br />
        202.687.8367(fax)
    </li>
  </ul>
</div>
{% endblock %}