{% extends "base.html" %}
{% load staticfiles %}

{% block css %}
  {% if game_css %}
    <link href="{{ MEDIA_URL }}uploads/custom_css/{{ game_css }}" media="screen, print" rel="stylesheet" type="text/css" />
  {% endif %}
{% endblock %}

{% block content %}
  <div id="content">
    <div id="top">
      <textarea id="clock" readonly></textarea>
      <textarea id="scoreboard" readonly></textarea>
      <h1 id="title">&nbsp;</h1>
    
      <div class="right">
        <span class="replay"><a href="#" onclick="window.location.reload();"><img src="{{ STATIC_URL }}img/reload.png"/>replay</a></span>
        {% if current_user.is_staff %}
          <a href="{% url 'list' %}">list of games</a>
        {% endif %}
        <a href="{% url 'logout' %}">logout</a>
      </div>

    </div><!-- end of #top --> 

    <div id="game">
      {% if game_content_template %}{% include game_content_template %}{% endif %}
	  <div id="cards"></div><!-- default card container -->
    </div><!-- end of #game -->
  
  </div><!-- end of #content -->
{% endblock %}

{% block js %}
		<!-- 
		<script type="text/javascript" src="{{ STATIC_URL }}js/module.js" >
			/*
	 		 * eventually, we will use module.js for its require() function,
			 * to help us load our js files into one long file.	
			 * but for now, figuring out require just makes my brain hurt
			 * very, very much.
			 */
		</script>
		-->
		<script type="text/javascript" src="{{ STATIC_URL }}js/state-machine.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/js-yaml.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/game.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/round.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/cards.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/dealers.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/internal_clock.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/displays.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/game_utils.js" ></script>
		<script type="text/javascript" id="reader" src="{{ STATIC_URL }}js/yaml-reader.js"  read-from="{{ AJAX_PREFIX }}/read/{{ game.id }}/"></script>
		<script type="text/javascript" id="reporter" src="{{ STATIC_URL }}js/reporter.js"  report-to="{{ AJAX_PREFIX }}/write/{{ game.id }}/" csrftoken="{{ csrf_token }}"></script>
			
		<!-- custom scripts. to be loaded for certain game types. -->
		<script type="text/javascript" src="{{ STATIC_URL }}js/processing.js" ></script>

		<script type="text/javascript">

			// 'bootstrapping' script. reads URL of YAML file from a <SCRIPT> tag attribute & uses it to create a Game object.
			//  by default, we just put the game into a variable on the window scope. some implementations might want something different: multiple games, maybe?
			var game;
			$(function () {
				var read_url = $("script#reader").attr("read-from");
				var report_url = $("script#reporter").attr("report-to");
				var csrftoken = $("script#reporter").attr("csrftoken");
				// get the YAML from our URL.
				$.ajax({
					url: read_url,
					type: "GET",
					success: function (data /* , textStatus, XMLHttpRequest */) {
						// try to parse the game data.
						in_production_try(this,
							function () {
								// try to make a game from the parsed game data.
								var parsed_yaml = new YAML( jsyaml.safeLoad(data, { schema: GAME_SCHEMA }) );
								new Game(parsed_yaml, report_url, csrftoken);
							}
						);
					},
					error: function (XMLHttpRequest, textStatus, errorThrown) {
						console.error(XMLHttpRequest, textStatus, errorThrown);
					}
				});
			});
		</script>

{% endblock %}