{% extends "base.html" %}
{% load staticfiles %}

{% block comment %}
	THE PLAY.HTML TEMPLATE SHOULD BE UNIQUE TO EACH GAME. THIS ALLOWS UNIQUE MARKUP, GLOABAL VARIABLES, AND UTILITY SCRIPTS.
{% endblock %}

{% block content %}
<div id="game">
  <div id="top">
    <textarea id="clock" readonly></textarea>  
    <h1 id="title">&nbsp;</h1>
    
    <div class="right">
      <span class="replay"><a href="#" onclick="window.location.reload();"><img src="{{ STATIC_URL }}img/reload.png"/>replay</a></span>
      <a href="{% url 'logout' %}">logout</a>
    </div>

  </div><!-- end of top --> 


  <div class="card_stack">
  	<div id="cards">&nbsp;</div>
  </div>
	
	<div id="messages">&nbsp;</div>

</div><!-- end game -->


<!-- this is a template to describe how to lay out a card. classes will distinguish between types of cards. -->
<script id="card_template" type="text/template">
  <div class="card">
    <div class="front"><h2></h2></div>
    <div class="back">&nbsp;</div>
  </div>
</script>
{% endblock %}

{% block js %}
		<script type="text/javascript" src="{{ STATIC_URL }}js/state-machine.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/utils.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/game.js" ></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/js-yaml.js" ></script>
		<script type="text/javascript" id="reader" src="{{ STATIC_URL }}js/yaml-reader.js"  read-from="{{ AJAX_PREFIX }}/read/{{ game.id }}/"></script>
		<script type="text/javascript" id="reporter" src="{{ STATIC_URL }}js/reporting.js"  report-to="{{ AJAX_PREFIX }}/write/{{ game.id }}/" csrftoken="{{ csrf_token }}"></script>
		<script type="text/javascript">
			function customize(game){
				$.extend(game, {
					SetupRiskGame: function(){
						this.card_template = $("#card_template").html();
				    this.messenger = $("#messages");
					}
				});
			}
		</script>
{% endblock %}