{% extends "base.html" %}
{% load staticfiles %}

{% block css%}
   <link href="{% static "css/public.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <!-- Half Page Image Background Carousel Header -->
    <header id="myCarousel" class="carousel slide">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <!-- <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li> -->
        </ol>

        <!-- Wrapper for Slides -->
        <div class="carousel-inner">
            <div class="item active" >
              <div class="fill-text">
                <p>"The hope is that they’re going to think hard about what it takes to get evidence in, that they’re going to learn objections so they can do it quickly and on their feet under time constraints, that they’re strategic about which objections to use, and that they have—most importantly—fun doing it so that the fun reinforces the learning aspect of it."</p>
                <div class="byline">Tanina Rostain, Professor of Law, Georgetown Law Center</div>
              </div>
            </div>
            <div class="item" >
              <div class="fill-text">
                <p>"The advantage for the students is that it’s going to be a learner-centered task; they can go back and play it as many times as they want. The kinds of processes we’re looking at and that we’re going to try and promote in these tasks include attention, awareness, levels of awareness. They have to process in activation of prior knowledge, working memory…and with this knowledge, we can design these tasks so we can get our students to be comfortably engaged as they do the tasks."</p>
                <div class="byline">Ronald Leow, Professor, Department of Spanish and Portuguese</div>
              </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>

    </header>

    <!-- Page Content -->
    <div class="container main-wrap">        
        <!-- lead image, main-blurb -->
        <div class="row">
            <div class="col-md-12 main-blurb">
                <h1 class="col-md-8 col-xs-10">What if students wanted to play your course until they <u>won</u>?</h1>
                <div class="bgimage-inside"></div>
            </div>
        </div>

        <!-- what is levl -->
        <div class="row">
            <div class="whatis">
                <div class="col-md-6 infosection">
                    <!-- <div class="infosection"> -->
                        LEV/L is Georgetown University's kit for making Web games for teaching and learning.
                        <div class="bgimage">
                            <div class="bgimage-inside"></div>
                        </div>
                    <!-- </div> -->
                </div>
                <div class="col-md-6 infosection">
                    <!-- <div class="infosection"> -->
                        Use it to develop simple, Web-based games that express something.
                        <div class="bgimage">
                            <div class="bgimage-inside"></div>
                        </div>
                    <!-- </div> -->
                </div>
            </div>
        </div>

        <!-- design teams and documents -->
        <div class="row infosection">
            <div class="infosection teams col-md-12">
                <div class="col-md-12"><h1>LEV/L simplifies game development for educators by dividing the labor required to build a game.</h1></div>
                <div class="col-md-7">Faculty focus on the 'script,' expressed in a Game Design Document. This document is designed to be relatively simple to create and edit. The format is very flexible; you can specify as much or as little complexity as you want.</div>
                <br>
                <div class="col-md-7">
                    CNDLS student assistants and other support staff create scripts and style documents that describe the look and feel of the game. The game is just a Web page where elements are added or removed to create scenes where the game takes place. You can style these with ordinary Web stylesheets. By following a simple structure, the game scripts can both respond to and trigger events that happen during game play. The game scripts can also be integrated with HTML5 game or animation libraries to create more compelling effects.
                    CNDLS provides the framework code that assembles the Game Design Document and the custom scripts and styles to generate the game experience and to record student interactions.
                </div>
                <div class="col-md-4">
                    <div>Based on the player's actions, the faculty-designed game can:</div>
                    <ul>
                        <li>award or take back points,</li>
                        <li>skip forward or loop back to other rounds,</li>
                        <li>enforce time limits,</li>
                        <li>trigger animations,</li>
                        <li>make resources available to the player,</li>
                        <li>and many other options...</li>
                    </ul>
                </div>
                
            </div>
        </div>

 
    </div> <!-- div.main-wrap -->

    
      
        <!-- <div class="row">
            <div class="col-lg-12 blurb">
              <h1>What if students wanted to play your course until they <u>won</u>?</h1> 
              LEV/L is Georgetown University's kit for making Web games for teaching and learning.<br />
              Use it to develop simple, Web-based games that express something.
            </div>
            <div class="col-lg-12 blurb">
              <a class="contact" href="{% url 'contact' %}">Learn More</a>
            </div>
        </div> -->
    
    <!-- /.container -->

{% endblock %}

{% block js %}
    <!-- Script to Activate the Carousel -->
  <script>
    // color logo to match colors in carousel slides.
    function colorLogo () {
      var curr_slide = $('.carousel').find('.item.active');
      // color the logo to fit the game in the current slide.
      var lev_clr = curr_slide.data('lev-clr') || '';
      var l_clr = curr_slide.data('l-clr') || '';
      $("polygon.lev_bg").css("fill", lev_clr);
      $("polygon.l_bg").css("fill", l_clr);
    }
    $('.carousel').carousel({ interval: 5000 });
    $('.carousel').on('slid.bs.carousel', colorLogo);
  </script>

{% endblock %}
