/*****
color vars
*********************************************/
$blue1: #0083B6;
// $blue1: rgba(0,131,182, 1);
$gray1: #6D6E71;
// $gray1: rgba(109,110,113, 1);
$headerGray: #373737;


/*****
width/height vars
*********************************************/
$scrollBarWidth: 20px;

$headerWrapperHeight: 38vw;
$headerWrapperMaxHeight: 375px;

$logoWidth: 57vw;
$logoHeight: 25vw;
$logoMaxWidth: 571px;
$logoMaxHeight: 250px;
$logoLeft: calc((43vw - 20px) / 2);


/*****
basics
*********************************************/
.test {
    outline: 1px solid black;
    height: 100px;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background-image: url("../img/bo_play_pattern.png");
}



/*****
Header
*********************************************/
.headerWrapper {
  position: fixed;
  width: 100%;
  height: $headerWrapperHeight;
  
  @media (min-width: 992px) {
    height: $headerWrapperMaxHeight;
  }

  margin-bottom: 30px;
  
  background-color: $headerGray;
  transition: height .4s;

  &.smaller {
    height: 65px;
    min-height: 65px;
    margin-bottom: 30px;
  }
}

.spacer {
  position: relative;
  width: 100%;
  height: $headerWrapperHeight;
  
  @media (min-width: 992px) {
    height: $headerWrapperMaxHeight;

  }

  margin-bottom: 30px;
  transition: height .4s;
  
  &.smaller {
    height: 65px;
    min-height: 65px;
    margin-bottom: 30px;
  }
}


.logo {
  position: absolute;
  width: $logoWidth;
  height: $logoHeight;
  left: $logoLeft;

  @media (min-width: 992px) {
    width: $logoMaxWidth;
    height: $logoMaxHeight;
    left: calc((100vw - 571px - 20px) / 2)
  }
  
  display: block;
  background: url("../img/levl_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
  transition: all .25s;

  

  &.smaller {
    width: 150px;
    height: 65px;
    margin-left: 0;
    left: 0;
    transition: height .35s cubic-bezier(0.46,0.03,0.52,0.96),
                width .35s cubic-bezier(0.46,0.03,0.52,0.96),
                left .2s cubic-bezier(0.46,0.03,0.52,0.96);
                
                
  }
}

.navContainer {
  position: relative;
  transition: all;

  @media (max-width: 767px) {
    width: 100%;
    padding: 0 10px 0 10px;
    left: 0;
    top: calc(25vw + 10%);
    font-size: 1.35em;
    transition: width .3s cubic-bezier(0.46,0.03,0.52,0.96),
                left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
  }

  @media (min-width: 768px) and (max-width: 991px) {
    width: 80%;
    left: 10%;
    top: calc(25vw + 15%);
    font-size: 1.65em;
    transition: width .3s cubic-bezier(0.46,0.03,0.52,0.96),
                left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
  }

  @media (min-width: 992px) {
    width: $logoMaxWidth;
    left: calc((100vw - 571px - 20px) / 2);
    top: 300px;
    font-size: 2em;
    transition: width .3s cubic-bezier(0.46,0.03,0.52,0.96),
                left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
  }

  &.smaller {
    @media (max-width: 767px) {
      width: 60%;
      top: 25px;
      left: 40%;
      font-size: 1.25em;
      transition: width .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
    }

    @media (min-width: 768px) and (max-width: 991px) {
      width: 50%;
      top: 15px;
      left: 45%;
      font-size: 1.6em;
      transition: width .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
    }

    @media (min-width: 992px) {
      top: 20px;
      left: 50%;
      font-size: 1.8em;
      transition: top .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  left .3s cubic-bezier(0.46,0.03,0.52,0.96),
                  font-size .3s cubic-bezier(0.46,0.03,0.52,0.96);
    }
  }
}

.pagesUL {
  position: relative;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;

  & li {
    display: inline-block;
    line-height: 100%;
  }
  
  & li a {
    color: #ffffff;
  }
}


/*****
Main content, aka .main-wrap
*********************************************/
.main-wrap {
  font-size: 1.7em;
  color: #fff;
  line-height: 1.4em;
}